<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.gracenam.musicsampleapi.domain.albums.mapper.AlbumMapper">

    <select id="findAll" resultType="AlbumResponse">
        select * from album
        <where>
            <if test="keyword != null and keyword != '' ">
                and title like concat('%', #{keyword}, '%')
            </if>
        </where>
        order by registered_date desc
    </select>

    <select id="findById" resultType="Album">
        select * from album where id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert
        into album
            (artist_name,
             title,
             release_date,
             genre,
             description,
             registered_date)
        values
            (#{artistName},
             #{title},
             #{releaseDate},
             #{genre},
             #{description},
             now())
    </insert>

    <update id="update">
        update album
        set
            artist_name = #{dto.artistName},
            title = #{dto.title},
            release_date = #{dto.releaseDate},
            genre = #{dto.genre},
            description = #{dto.description}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from album
        where id = #{id}
    </delete>

</mapper>