<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.gracenam.musicsampleapi.domain.artists.mapper.ArtistMapper">

    <select id="findAllArtist" resultType="Artist">
        select * from artist
    </select>

    <select id="findArtistById" resultType="Artist">
        select * from artist where artist_id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="artist_id">
        insert into artist
            (artist_name,
             birth,
             agency,
             nationality,
             introduction,
             registered_date)
        values
            (#{dto.artistName},
             #{dto.birth},
             #{dto.agency},
             #{dto.nationality},
             #{dto.introduction},
             now())
    </insert>

    <select id="search" resultType="Artist">
        select * from artist where artist_name like concat('%', #{name}, '%')
    </select>

</mapper>