<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.gracenam.musicsampleapi.domain.artists.mapper.ArtistMapper">

    <select id="findAll" resultType="ArtistResponse">
        select * from artist
        order by registered_date desc
    </select>

    <select id="findById" resultType="Artist">
        select * from artist where id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert
        into artist
            (name,
             birth,
             agency,
             nationality,
             introduction,
             registered_date)
        values
            (#{name},
             #{birth},
             #{agency},
             #{nationality},
             #{introduction},
             now())
    </insert>

    <select id="search" resultType="Artist">
        select * from artist where name like concat('%', #{name}, '%')
    </select>

    <update id="update">
        update artist
        set
            name = #{dto.name},
            birth = #{dto.birth},
            agency = #{dto.agency},
            nationality = #{dto.nationality},
            introduction = #{dto.introduction}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from artist
        where id = #{id}
    </delete>

</mapper>